body {
  margin: 0;
  padding: 0;
}

.primary-information {
  width: 90vw;
  display: grid;
  margin: 0 25px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 1fr 1fr;
  grid-template-areas:
    "images about"
    "size about"
    "reviews about";
}

.knowledge-card {
  display: flex;
}

#about {
  grid-area: about;
  background-color: white;
}

#about > div {
  width: 100%;
}

#image-service {
  grid-area: images;
  overflow: hidden;
  margin-bottom: 50px;
  margin-right: 20px;
}

#product-size {
  grid-area: size;
}

#review {
  grid-area: reviews;
  background-color: white;
}

images-slide.images-row-slide, .images-table, .images-row-table {
  display: flex;
  flex-wrap: wrap;
}

img.product-image-slide, img.product-image-table {
  max-height: 250px;
  max-width: 250px;
}